/*Player style*/

* {
    color: white;
}

/* Lables*/
.file {
    position: absolute;
    border: solid 1px #444;
}

input[type=radio], input[type=file] {
    display: none;
}

label {
    display: inline-block;
    border: solid 1px #555;
    padding: 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 60px;
    overflow: hidden;
    text-align: center;
    font-weight: normal;
}

label:nth-of-type(4) {
    font-size: 14px;
    padding-top: 4px;
}

/* buttons*/
#normal:checked ~ .equalizer label:nth-of-type(1),
#rock:checked ~ .equalizer label:nth-of-type(2),
#pop:checked ~ .equalizer label:nth-of-type(3),
#classic:checked ~ .equalizer label:nth-of-type(4),
#jazz:checked ~ .equalizer label:nth-of-type(5) {
    font-weight: bold;
    color: red;
    background: #333;
}

/* buttons*/
#wave:checked ~ .visualizer label:nth-of-type(1),
#spectrum:checked ~ .visualizer label:nth-of-type(2) {
    font-weight: bold;
    color: red;
    background: #333;
}

label:hover {
    background: #222;
}

/*поллзунок*/
/* линия-индикатор */
.volume {
    /* контейнер */
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    border: 3px solid #666;
    border-radius: 2px;
    box-shadow: inset 0 1px #555, inset 0 1px 1px #575555, inset 0 -2px #555;
    background: #fff linear-gradient(#BCBCBC, #fff0f5);
    overflow: hidden;
}

.volume::-moz-range-thumb {
    /* ползунок в Firefox */
    border-radius: 2px;
    box-shadow: -13px 0 #000, -26px 0 #000, -39px 0 #000, -52px 0 #000, -65px 0 #000, -78px 0 #000, -91px 0 #000, -104px 0 #000, -117px 0 #000, -130px 0 #000, -143px 0 #000, -156px 0 #000;
}

.volume::-moz-range-track {
    /* линия, по которой он ездит в Firefox */
    background: none;
    border: none;
}

.volume::-webkit-slider-thumb {
    /* ползунок в Хроме */
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #818181;
    border-radius: 2px;
    background-image: linear-gradient(#dedede, #f2f2f2);
    box-shadow: -13px 0 #000, -26px 0 #000, -39px 0 #000, -52px 0 #000, -65px 0 #000, -78px 0 #000, -91px 0 #000, -104px 0 #000, -117px 0 #000, -130px 0 #000, -143px 0 #000, -156px 0 #000;
}

/*Конец ползунка*/

.clear {
    clear: both;
}

.too-player {
    position: relative;
    margin: auto;
    width: 350px;
    /*height: 350px;*/
    border: solid 1px #555;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #444;
    overflow: hidden;
    -webkit-box-shadow: 3px 5px 15px #000;
    -moz-box-shadow: 3px 5px 15px #000;
    box-shadow: 3px 3px 10px #333;

}

.logo {
    display: inline-block;
    width: 100%;
    border-bottom: solid 1px #555;
    /*height: 10px;*/
    overflow: hidden;
    background: #555;
    padding: 2px 10px;
    font-weight: bold;
    text-align: center;
    color: #eee;
}

output {
    vertical-align: middle;
    text-align: center;
}

.list, #drop_zone {
    display: block;
    margin-left: 3px;
    text-align: center;
    border: solid 1px #555;
    width: 98%;
    height: 20px;
}

.buttons {
    margin: 5px auto;
    width: 95%;
    border: solid 1px #555;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset -1px -1px 8px #333;
    -moz-box-shadow: inset -1px -1px 8px #333;
    box-shadow: inset -1px -1px 8px #333;
    padding: 0;
    height: 25px;
}

button.play {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #000;
    border-bottom: 10px solid transparent;
    background: transparent;
    border-right: 0;
    margin: 2px 0 0 15px;
    padding: 0;

}

button#stop {
    position: absolute;
    margin: 2px 0 0 45px;
    width: 20px;
    height: 20px;
    background: #000;
    border: 0;
    padding: 0;

}

button.pause {
    position: absolute;
    padding: 0;
    border: solid 7px #000;
    border-bottom: 0;
    border-top: 0;
    width: 20px;
    height: 20px;
    margin: 2px 0 0 15px;
    background: transparent;
}

.volume {
    float: right;
    margin: 2px 15px 0 0;
}

#progressBar {
    border: 1px solid #aaa;
    color: #fff;
    width: 95%;
    height: 5px;
    border-radius: 2px;
    margin: auto;
}

#progress {
    width: 0;
    background-color: dodgerblue;
    height: 5px;
    display: inline-block;
    border-radius: 2px;
}
