/*Player style*/

* {
    color: white;
}

body {
    background-image: url("../img/bg.png");
}

.too-player {
    position: relative;
    margin: auto;
    width: 350px;
    /*height: 350px;*/
    border: solid 3px #555;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: HSLa(0, 0%, 34%, 0.4) /*#444*/;
    overflow: hidden;
    -webkit-box-shadow: 3px 5px 10px #000;
    -moz-box-shadow: 3px 5px 10px #000;
    box-shadow: 3px 3px 10px #000;
    opacity: 0.9;
    transition: all .2s ease-in-out;
}
.too-player:hover {
    transform: scale(1.02);
    -webkit-box-shadow: 4px 6px 12px #111;
    -moz-box-shadow: 4px 6px 12px #111;
    box-shadow: 4px 6px 12px #111;
}

/* Lables*/
.file {
    position: absolute;
    border: solid 1px #444;
}

input[type=radio], input[type=file] {
    display: none;
}

label {
    display: inline-block;
    border: solid 1px #555;
    padding: 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 60px;
    overflow: hidden;
    text-align: center;
    font-weight: normal;
}

label:nth-of-type(4) {
    font-size: 14px;
    padding-top: 4px;
    background: HSLa(0, 0%, 15%, 0.7);
}

/* buttons*/
#normal:checked ~ .equalizer label:nth-of-type(1),
#rock:checked ~ .equalizer label:nth-of-type(2),
#pop:checked ~ .equalizer label:nth-of-type(3),
#classic:checked ~ .equalizer label:nth-of-type(4),
#jazz:checked ~ .equalizer label:nth-of-type(5) {
    font-weight: bold;
    color: red;
    background: HSLa(0, 0%, 10%, 0.6);
}

#wave:checked ~ .visualizer label:nth-of-type(1),
#spectrum:checked ~ .visualizer label:nth-of-type(2) {
    font-weight: bold;
    color: red;
    background: HSLa(0, 0%, 10%, 0.6);
}

label:hover {
    background: HSLa(0, 0%, 5%, 0.6);
}


input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    border: 3px solid #666;
    border-radius: 2px;
    box-shadow: inset 0 1px #555, inset 0 1px 1px #575555, inset 0 -2px #555;
    background: #fff linear-gradient(#BCBCBC, #fff0f5);
    overflow: hidden;
    float: right;
    margin: 3px 3px 0 0;
}
#timebox {
    float: right;
    vertical-align: middle;
    margin: 4px 5px 0 0;
    text-shadow: 1px 1px 2px #000;
    font-size: 14px;
}

input[type=range]::-moz-range-thumb {
    border-radius: 1px;
    box-shadow: -13px 0 #000, -26px 0 #000, -39px 0 #000, -52px 0 #000, -65px 0 #000, -78px 0 #000, -91px 0 #000, -104px 0 #000, -117px 0 #000, -130px 0 #000, -143px 0 #000, -156px 0 #000;
}

input[type=range]::-moz-range-track {
    background: none;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #818181;
    border-radius: 2px;
    background-image: linear-gradient(#dedede, #f2f2f2);
    box-shadow: -13px 0 #000, -26px 0 #000, -39px 0 #000, -52px 0 #000, -65px 0 #000, -78px 0 #000, -91px 0 #000, -104px 0 #000, -117px 0 #000, -130px 0 #000, -143px 0 #000, -156px 0 #000;
}

.clear {
    clear: both;
}

.logo {
    display: inline-block;
    width: 100%;
    border-bottom: solid 1px #555;
    /*height: 10px;*/
    overflow: hidden;
    background: #555;
    padding: 3px 10px;
    font-weight: bold;
    text-align: center;
    color: #eee;
    text-shadow: 1px 1px 1px #000;
    -webkit-box-shadow: 0px 1px 3px #000;
    -moz-box-shadow: 0px 1px 3px #000;
    box-shadow: 0px 1px 3px #000;
}

output {
    vertical-align: middle;
    text-align: center;
}

.list, #drop_zone {
    display: block;
    margin-left: 3px;
    text-align: center;
    border: solid 1px #555;
    width: 98%;
    height: 20px;
    -webkit-box-shadow: inset 2px 2px 10px #000;
    -moz-box-shadow: inset 2px 2px 10px #000;
    box-shadow: inset 2px 2px 10px #000;
    text-shadow: 1px 1px 5px #000;
    overflow: hidden;
}
.drop_zone2{
    -webkit-box-shadow: inset 2px 2px 10px #fff;
    -moz-box-shadow: inset 2px 2px 10px #fff;
    box-shadow: inset 0 0 5px #fff !important;
    text-shadow: 0 0 5px #ddd !important;
}

.buttons {
    margin: 5px auto;
    width: 95%;
    border: solid 1px #555;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 2px 2px 10px #000;
    -moz-box-shadow: inset 2px 2px 10px #000;
    box-shadow: inset 2px 2px 10px #000;
    padding: 0;
    height: 30px;
    background: HSLa(0, 0%, 15%, 0.7);
}

button {
    /*-webkit-box-shadow: 2px 2px 10px #fff;
    -moz-box-shadow: 2px 2px 10px #fff;
    box-shadow:  -1px 0 0 blue, -2px 0 0 #fff;*/
    outline:none;
    transform: scale(0.65);

}
.goodButton{
    /*position: absolute;*/
    float: left;
    width: 28px;
    height: 28px;
    background: #ddd;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 2px 2px 10px #ccc;
    -moz-box-shadow: inset 2px 2px 10px #ccc;
    box-shadow: inset 2px 2px 20px #000;
    border: 1px solid #111;
    transform: scale(0.85);
    margin: 0 5px 0 5px;
}
button.play {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #000;
    border-bottom: 10px solid transparent;
    background: transparent;
    border-right: 0;
    margin: 5px 0 0 5px;
    padding: 0;
}
button.pause {
    position: absolute;
    padding: 0;
    border: solid 7px #800;
    border-bottom: 0;
    border-top: 0;
    width: 20px;
    height: 20px;
    margin: 4px 0 0 3px;
    background: transparent;
}

button#stop {
    position: absolute;
    margin: 5px 0 0 5px;
    width: 18px;
    height: 18px;
    background: #000;
    border: 0;
    padding: 0;

}
/*button.play:hover, button.pause:hover, button#stop:hover,*/.goodButton:hover {
    transform: scale(0.89);
}
/*button.play:active, button.pause:active, button#stop:active, */.goodButton:active {
    transform: scale(0.83);
}



#progressBar {
    border: 1px solid #aaa;
    color: #fff;
    width: 93%;
    height: 5px;
    border-radius: 2px;
    margin: auto;

}

#progress {
    width: 0;
    background-color: #000;
    height: 5px;
    display: inline-block;
    border-radius: 2px;
}

/* PlayList*/
#playlist {
    margin-top: -7px;
    padding: 20px 30px;
    height: 180px;
    /*width: 500px;*/
    background: url('../img/Soft-Light.jpg') no-repeat center;
    background-size: cover;

}

#list {
    height: 180px;
    background: rgba(0, 0, 0, 0.3);
    /*padding: 10px 5px;*/
    color: #ffffff;

    overflow: auto;
}

#playlist ul {
    margin: 0;
    list-style: none;
    padding: 10px;
}

#playlist a {
    font: normal 11px/15px Arial, sans-serif;
    text-decoration: none;
    color: #fff;
}

#playlist a:hover {
    color: #d4d3d3;
}

#playlist a.current {
    color: #50c1ce;
}